

:root{

   --wbg: #F7F7F7;
   --d1: #1E1E1E;
   --d2: #333333;
   --placeholder: #F7F7F733;
   --purple: #462D80;
   --footer-n : #1E1E1E66;
   --font: 'Rubik', sans-serif;

   --inline-m1: clamp(3em,15vw,10em);
   --inline-m2: clamp(3em,9vw,10em);
   --inline-m3: clamp(1.5em,4.5vw,5em);
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: var(--font);
}
html{
   scroll-behavior: smooth;
}
body{
   background: var(--wbg);
   
}


button, a{
   all: unset;
   cursor: pointer;
}

header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 3em  var(--inline-m1);
}

header h2{
   font-weight: 800;
   color: var(--d1) ;
}

header a.contactUs{
   background: var(--d2);
   color: var(--wbg);
   border-radius: 1em;
   padding: 1em 2em;

}

span{
   color: var(--purple);

}

h1,p,h2,h3{
   color: var(--d2);
}

header,section,footer{
   max-width: 1800px;
   margin: auto;
}

section.hero{
   padding: 3em  var(--inline-m2);
   position: relative;
}
#hero-d{
   display: flex;
   justify-content: space-between;
}

section.hero p.t1{
   color: var(--d1);
}
section.hero h1{
   font-size: 6em;
   margin-bottom: 1em;
}
section.hero p{
   font-size: 2.5em;
}

section.hero .bg1{
   position: absolute;
   left: -10%;
   top: 40vh;
   transform: translateY(-50%) scale(1.5);
   z-index: -1;
   filter: blur(50px);
   max-width: 80vw;

}
section.hero#hero-d{
   display: flex;
}
section.hero#hero-m{
   display: none;
}

section.hero#hero-m>h1{
   margin-bottom: 0;
   text-wrap: nowrap;
}

section.hero#hero-m .flex{
   display: grid;
   grid-template-columns: repeat(2,1fr);
}

section.hero#hero-m .flex img{
   max-width: 100%;
}  

section.works .filters::-webkit-scrollbar{
   height: 7px;
   padding: 2px;
   width: 90%;
}

section.works .filters::-webkit-scrollbar-track-piece{
   background: var(--d2);

}

section.works .filters::-webkit-scrollbar-button{
   width: 1em;
   display: block;
   background: transparent;
}
section.works .filters::-webkit-scrollbar-thumb{
   background: var(--d1);
   border-radius: 100vmax;
   
}

section.works .filters{
   background: var(--d2);
   display: flex;
   margin: 3em  var(--inline-m3);
   overflow-x: auto;
   border-radius: 2em;
   position: relative;
   align-items: stretch;
}
section.works .filters .filter{
   color: var(--wbg);
   padding: 1em 2em;
   font-size: 1.5em;
   text-align: center;
   cursor: pointer;
   transition: 0.1s;
   z-index: 1;
   flex-shrink: 0;
   /* flex: 1; */
   height: 100%;
   
   flex-grow: 1;
}


section.works .filters .filter.active{
   color: var(--d2);
   transition: 0;
}
section.works .filters .filter.active:hover{
   background: transparent;
}

section.works .filters .filter:hover{
   background: var(--d1);

}

section.works .filters .activeFilter{
   background: var(--wbg);
   position: absolute;
   height: 100%;
   /* border-radius: 2em; */
   top: 0;
   left: 0;
   width: 100px;
   z-index: 0;
   transition: 0.4s ease-in-out;
}

section.works .categoriesWrapper{
   position: relative;
}
section.works .category{
   padding: 4em var(--inline-m1);
   position: relative;
   visibility: hidden;
   opacity: 0;
   height: 0;
   /* display: none; */
   transition: opacity 0.3s;
   padding: 0;
   z-index: var(--1h);
   top: 0;
   box-sizing: border-box;
}

section.works .category.active{
   padding: 4em var(--inline-m1);
   opacity: 1;
   z-index: 10;
   display: block;
   visibility: visible;
   height: auto;
   padding: auto;
}
section.works .category p.intro{
   font-size: 2.25em;
   margin: 0 1em 4em;
}
section.works .category .container{
   display: grid;
   gap: 2em;
   grid-template-columns: repeat(3,1fr);
   /* height: 70vh; */
   box-sizing: content-box;
}


.subcat{
   display: flex;
   flex-direction: column;
   align-items: center;
   min-height: calc(var(--gcontainerh) + 10vh);

}
p.title{
   font-size: 1.7em;
   font-weight: 500;
   margin-bottom: 2em;
}
.gridContainer img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 1em;
   transition: 0.3s ease-in-out;
}  
.gridContainer a{
   overflow: hidden;
}

.gridContainer img:hover{
   scale: 1.03;
}


.subcat .gridContainer{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-template-rows: repeat(3,1fr);
   gap: var(--gcontainerg);
   width: 100%;
   height: var(--gcontainerh);
   max-height: 0;
   /* height: var(--gcontainerh); */
}

.subcat .gridContainer a{
   border: solid 1px var(--d2);
   border-radius: 1em;
   /* overflow: hidden; */
}
.gridContainer a img{
   width: 100%;
   height: 100%;
}
:root{
   --gcontainerh: 60vh;
   --gcontainerg: 1em;
   --1h:  calc((var(--gcontainerh) - 2* var(--gcontainerg))/3);
   --2h:  calc(2*(var(--gcontainerh) - 2* var(--gcontainerg)) / 3 + var(--gcontainerg));
   --halfh: calc((var(--gcontainerh) - 1* var(--gcontainerg))/2);
  
}

/* sports start */
.subcat.sports .gridContainer a:first-child{
   grid-row-start: 1;
   grid-row-end: 4;
   


}

.subcat.sports .gridContainer a:not(:first-child){

   height: var(--1h);
}

/* sports end */
/* events start */

.subcat.events .gridContainer a:first-child{
   grid-column-start: 1;
   grid-column-end: 3;
   height: var(--1h);
}

.subcat.events .gridContainer a:nth-child(2){
   grid-row-start: 2;
   grid-row-end: 4;
   height: var(--2h);
}

.subcat.events .gridContainer a:nth-child(3),.subcat.events .gridContainer a:nth-child(4){
   height: var(--1h);
}
/* events end */


/* products start */
.subcat.products .gridContainer{
   grid-template-rows: repeat(2,1fr);
}
.subcat.products .gridContainer a:nth-child(3){
   grid-column-start: 1;
   grid-column-end: 3;
   height: var(--halfh);

}

.subcat.products .gridContainer a:nth-child(1),.subcat.products .gridContainer a:nth-child(2){
   height: var(--halfh);
}

/* products end */

/* Branding start */
.subcat.branding .gridContainer a:first-child{
   grid-row-start: 1;
   grid-row-end: 3;
   height: var(--2h);
}

.subcat.branding .gridContainer a:nth-child(4){
   grid-column-start: 1;
   grid-column-end: 3;
   background: #F7F7F7;
   height: var(--1h);
}

.subcat.branding .gridContainer a:nth-child(2),.subcat.branding .gridContainer a:nth-child(3){
   height: var(--1h);
   background: white;

}

.subcat.branding .gridContainer a:nth-child(2) img,
.subcat.branding .gridContainer a:nth-child(3) img ,
.subcat.branding .gridContainer a:nth-child(4) img{
   object-fit: contain;
}


/* branding end */
/* posters start */
.subcat.posters .gridContainer a:nth-child(1),
.subcat.posters .gridContainer a:nth-child(4){
   height: var(--1h);
   background: red;

}

.subcat.posters .gridContainer a:nth-child(2){

   height: var(--2h);
   background: blue;
   grid-row: span 2;


}



.subcat.posters .gridContainer a:nth-child(3){

   height: var(--2h);
   background: blue;
   grid-row: span 2;
}  


/* posters end */

/* printable start */
.subcat.printables .gridContainer a:nth-child(1){
   grid-column: span 2;
   height: var(--1h);

}
.subcat.printables .gridContainer a:nth-child(3){
   grid-row: span 2;
}
.subcat.printables .gridContainer a:nth-child(2),
.subcat.printables .gridContainer a:nth-child(4){
   height: var(--1h);
}
/* printable end */

/* motion graphics start */
.subcat.motionGraphics .gridContainer a:nth-child(1){
   grid-column: span 2;
   height: var(--1h);
}

.subcat.motionGraphics .gridContainer a:nth-child(2),
.subcat.motionGraphics .gridContainer a:nth-child(3){
   grid-row: span 2;
   height: var(--2h);
}

/* motion graphics end */

/* events start */

.subcat.events-comm .gridContainer a:nth-child(1),
.subcat.events-comm .gridContainer a:nth-child(3){
   grid-row: span 2;
   height: var(--2h);

}




/* events end */



section.works .category.vp .container{
   grid-template-columns: repeat(6,1fr);
}
section.works .category.uiux .container .subcat{
   /* grid-template-columns: ; */
   grid-column: 2;
}
section.works .category.vp .container .subcat:first-child{
   grid-column: 2 / span 2;
}


section.works .category.vp .container .subcat{
   grid-column: span 2;
}


.lottieContainer{
   display: none;
}

.lottieContainer *{
   max-height: 70vh;
}


section.works .category.med .container {
   grid-template-columns: repeat(1,1fr);

}

section.works .category.med .container .gridContainer{
   grid-template-columns: repeat(4,1fr);
}




section#form{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 5em calc(2 * var(--inline-m1));
}

section#form form{
   display: flex;
   flex-direction: column;
   align-items: center;
   background: var(--d2);
   border-radius: 2em;
   padding: 3em;
   margin: 5em var(--inline-m1);
   box-sizing: content-box;
   width: 100%;
   gap: 1em;

}
section#form p.title,
section#about p.title{
   font-size: 3em;
   font-weight: 400;
   margin-bottom: 0;
   /* margin-top: 2em; */
}
section#form form img{
   height: 7em;
}
input{
   all: unset;
}
section#form form div{
   width: 100%;
   display: flex;flex-direction: column;
   /* gap: 2em; */
}

   section#form form input,
   section#form form select,
   section#form form textarea{
   background: var(--d1);
   padding: 1em;
   border: 1px solid var(--placeholder);
   border-radius: 1em;
 
   color: var(--wbg);
   font-size: 1.3em;
   font-weight: 300;
}

section#form form label{
   color: var(--wbg);
   font-size: 1.6em;
   font-weight: 300;
   margin: .5em;
}

section#form form select option{
   font-size: 1.3em;
   padding: 1em;
}

  

section#form form ::placeholder{
   color: var(--placeholder);
}

section#form form button{
   padding: 1em 3em;
   background: var(--d1);
   border: 1px solid var(--placeholder);
   border-radius: 1em;
   color: var(--wbg);
   font-size: 1.3em;
   margin-top: 2em;
   transition: 0.3s;

}
section#form form button:hover{
   background: #101010;
}


/* about us */

section#about{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 10vh var(--inline-m1);
   gap: 4em;

}


section#about .flex{
   display: grid;
   grid-template-columns: 2fr 1fr;
   gap: 4em;
}
section#about .flex img{
   max-width: 100%;
}

section#about .flex .right img{
   border-radius: 2em;
}


section#about .left{
   display: flex;flex-direction: column;
   justify-content: space-between;
}


section#about .left p{
   font-size: 2em;
}


section#about .left .flex{
   gap: 4em;
   padding: 3em 7em 0;
   align-items: center;
   justify-content: center;
}





footer{
   text-align: center;
   margin: var(--inline-m3);
   font-size: 1.5em;
}

footer span{
   color: var(--footer-n);
}
@media screen and (max-width:1400px) {
   section#about .left p {
      font-size: 1.6em;
   }
}



@media screen and (max-width:1020px) {
   :root{
      --inline-m1: clamp(2.5em,15vw,8em);
      --inline-m2: clamp(2.5em,9vw,8em);
      --inline-m3: clamp(1.25em,4.5vw,4em);
   }
   body{
      font-size: 14px;
   }

   section.hero h1{
      font-size: 5em;
   }
   section.works .category .container , section.works .category.vp .container { 
      grid-template-columns: repeat(2,1fr);
   }
   section.works .category.vp .container .subcat:first-child {
      grid-column: span 1;
  }
  section.works .category.vp .container .subcat {
   grid-column: span 1;
}
section#about .left .flex {
   padding: 1em 5em 0;
}
   section#about .left p {
      font-size: 1.6em;
   }
   section#form {
      padding: 2em calc(1.4*var(--inline-m1));
  }
}

@media screen and (max-width:900px) {
   body{
      font-size: 13px;
   }
   section.works .category p.intro {
      margin: 0 0em 3em;
  }
  section#about .left p {
   font-size: 1.45em;
   }
   section#about .left .flex {
      padding: 1em 4em 0;
   }
   
}


@media screen and (max-width:768px) {
   section.hero#hero-d{
      display: none;
   }
   section.hero#hero-m{
      display: block;
   }
   section.hero h1{
      font-size: 4em;
   }
   section.hero p {
      font-size: 2.2em;
   }
   section.works .filters::-webkit-scrollbar{
      height: 4px;
      padding: 1px;
      width: 90%;
   }
   section.works .category .container , section.works .category.vp .container { 
      grid-template-columns: repeat(1,1fr);
   }

   section#about > .flex{
      grid-template-columns: repeat(1,1fr);
   }
   section#about .left p {
      font-size: 1.7em;
   }

   section#about .flex .right {
      margin: 0 5em;
   }
   section#about .left .flex {
      padding: 1em 3em 0;
   }
   section#form {
      padding: 2em calc(1.3 * var(--inline-m1));
  }
}

@media screen and (max-width:650px) {
   :root{
      --inline-m1: clamp(2em,11vw,6.5em);
      --inline-m2: clamp(2em,7vw,6.5em);
      --inline-m3: clamp(1em,5vw,3em);
   }
   body{
      font-size: 12px;
   }

   section.hero .bg1{
      left: -30%;
   }
}

@media screen and (max-width:600px) {
   section.hero h1{
      font-size: 3.5em;
   }
   section.hero p {
      font-size: 2em;
   }

   section.works .filters .filter {
      padding: 0.75em 1.5em;
   }
   section#about .flex .right {
      margin: 0 2.7em;
   }
}

@media screen and (max-width:550px) {
   body{
      font-size: 11px;
   }
   :root{
      --inline-m1: clamp(1em,8vw,5em);
      --inline-m2: clamp(1em,5vw,5em);
      --inline-m3: clamp(0.6em,3vw,2em);
   }
   section.works .filters {
      border-radius: 1.5em;
   }
   section#about .flex .right {
      margin: 0 3em;
   }
   section#form form {
      padding: 2em;
   }

}

@media screen and (max-width:450px) {
   body{
      font-size: 10px;
   }
   /* section.hero h1{
      font-size: 3em;
   } */
   section.hero p {
      font-size: 1.7em;
   }

   section.works .filters .filter {
      padding: 0.6em 1em;
      font-size: 1.25em;
   }

   section#about .flex .right {
      margin: 0 2em;
   }
}

@media screen and (max-width:350px) {
   section#form form {
      padding: 1em;
   }
}